{% extends "base.html" %}

{% block content %}

<div class="card">

    <div class="card-header bg-primary text-white">

        <h2 class="mb-1">
            <i class="bi bi-car-front-fill"></i>
            AutoPrice AI
        </h2>

        <small>AI Powered Used Car Price Prediction</small>

    </div>

    <div class="card-body">

        <form id="predictForm">

            <!-- Vehicle Information -->
            <div class="section-title">
                🚗 Vehicle Information
            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">Brand</label>

                    <select class="form-select" id="brand">

                        <option value="">Select Brand</option>

                        {% for brand in brands %}
                        <option value="{{ brand }}">
                            {{ brand }}
                        </option>
                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Model</label>

                    <select class="form-select" id="model">

                        <option value="">
                            Select Model
                        </option>

                    </select>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">Year</label>

                    <input
                        type="number"
                        id="year"
                        class="form-control">

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Mileage</label>

                    <input
                        type="number"
                        id="mileage"
                        class="form-control">

                </div>

            </div>

            <hr>

            <!-- Vehicle Specification -->

            <div class="section-title">
                ⚙ Vehicle Specification
            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label>Fuel</label>

                    <input
                        id="fuel"
                        class="form-control readonly-box"
                        readonly>

                </div>

                <div class="col-md-6 mb-3">

                    <label>Transmission</label>

                    <input
                        id="transmission"
                        class="form-control readonly-box"
                        readonly>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label>Engine</label>

                    <input
                        id="engine"
                        class="form-control readonly-box"
                        readonly>

                </div>

                <div class="col-md-6 mb-3">

                    <label>Body Type</label>

                    <input
                        id="body"
                        class="form-control readonly-box"
                        readonly>

                </div>

            </div>

            <div class="mb-3">

                <label>Wheel Drive</label>

                <input
                    id="wheel"
                    class="form-control readonly-box"
                    readonly>

            </div>

            <hr>

            <!-- Vehicle Condition -->

            <div class="section-title">
                🛠 Vehicle Condition
            </div>

            <div class="row">

                <div class="col-md-6">

                    <label class="form-label">
                        Accident
                    </label>

                    <select id="accident" class="form-select">

                        <option value="False">
                            No
                        </option>

                        <option value="True">
                            Yes
                        </option>

                    </select>

                </div>

                <div class="col-md-6">

                    <label class="form-label">
                        Frame Damage
                    </label>

                    <select id="frame" class="form-select">

                        <option value="False">
                            No
                        </option>

                        <option value="True">
                            Yes
                        </option>

                    </select>

                </div>

            </div>

            <br>

            <button
                type="submit"
                class="btn btn-primary predict-btn">

                🔮 Predict Price

            </button>

        </form>

    </div>

</div>

{% endblock %}