# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# CatBoost
notebooks/catboost_info/

# Large raw data
data/raw/

# Processed data
data/processed/

# Trained models
models/*.cbm
models/*.pkl
models/*.joblib